.App {
  color: rgba(254, 255, 255, 0.979);
}
.header {
  margin-top: 10px;
}
.container {

  margin-right: 15%;
  margin-left: 15%;
  margin-top: 60px;
  padding: 10px 10px 10px 10px;
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6dd5ed,
    #2193b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.signup,
.login,
.addFriend {
  width: 70%;
  background-color: rgba(6, 37, 31, 0.178);
  margin: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}
input {
  color: black;
  font-weight: bolder;
  width: 90%;
  border: none;
  border-bottom: black solid 1px;
 
  height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.card{
  margin-top: 10px;
}
.columns{
  display: flex;
  flex-wrap: wrap;
}
.button1{
  margin-right: 10px;
}
.buttons{
  margin-top: 50px;
}
